.photobox
  .grid
    %li.large{style: "background-image: url('https://cdn.pixabay.com/photo/2018/03/14/18/45/mammal-3226004_1280.jpg');"}
    %li.small{style: "background-image: url('https://cdn.pixabay.com/photo/2018/03/14/18/45/mammal-3226004_1280.jpg');"}
    %li.small{style: "background-image: url('https://cdn.pixabay.com/photo/2018/03/14/18/45/mammal-3226004_1280.jpg');"}
    %li.large{style: "background-image: url('https://cdn.pixabay.com/photo/2018/03/14/18/45/mammal-3226004_1280.jpg');"}
