.photobox
  .grid
    %li.large{style: "background-image: url(#{random_photo.image.url(:medium)});"}
    %li.small{style: "background-image: url(#{random_photo.image.url(:medium)});"}
    %li.small{style: "background-image: url(#{random_photo.image.url(:medium)});"}
    %li.large{style: "background-image: url(#{random_photo.image.url(:medium)});"}
