= form_for([post, post.comments.build], remote: true) do |f|
  = f.text_field :content, placeholder: 'Add Comment', class: "comment_content", id: "comment_content_#{post.id}"
  = f.button 'Submit', class: 'btn btn-success', id: 'commentSubmit'
