%h1 Editing animal

= render 'edit_form'

= link_to 'Show', @animal
\|
= link_to 'Back', user_animals_path(current_user)
= link_to 'Delete', animal_path(@animal), method: :delete, data:{confirm: 'Are you sure you want to delete this animal?'}
