.image_grid
  - @posts.each do |post|
    .image_box
      .user_name
        = post.user.user_name
      .pet_photo
        = link_to image_tag(post.image.url(:medium)), photo_post_path(post)
      .caption
        = post.caption
      .comment_section
