.hidden {
  display: none;
}

.pet_cards {
  background-color: white;

  .nav-tabs {
    font-size: 1.1em;
    width: 100vw;
  }

  .pet-name {
    text-decoration: underline;
  }

  .pet_image {}

  div * {}
}
// form styles
.card.pet_card{
  
}
