@import url('https://fonts.googleapis.com/css?family=Raleway|Ubuntu');
@import "jquery.jcrop";




$deep_blue: #558C89;
$light_blue: #74AFAD;
$orange: #D9853B;
$gray: #ECECEA;

*{
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

body{
  background-color: $gray;
}

.container{
  min-height: 100%;
}

a{
  text-decoration: none;
  color: black;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Ubuntu', sans-serif;
}

li{
  list-style: none;
}

.btn{
  // color: #fff;
  padding: 10px 30px;
  // // background-color: rgb(8, 105, 135);
  border-radius: 8px;
  background-color: $orange;
}

hr{
  width: 250px;
  height: 3px;
  background: $deep_blue;
  border: 0;
  margin-bottom: 50px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 100px;
  padding-top: 20px;
}

@media (max-width:800px) {
  section{
    padding: 50px 20px;
    margin: 0;
  }
}

@import "./*";
