@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,800|Ubuntu:400,700');
@import "bootstrap";
@import "font-awesome";
@import "jquery.jcrop";
$deep_blue: #558C89;
$light_blue: #74AFAD;
$orange: #D9853B;
$gray: #ECECEA;
@import './*'
