*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.background-img{
  background-image: image_url("bg-1");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body{
  background-color: $light_grey !important;
  // background-image: url(image_path('bg-1.jpg'))
  // .dynamic-content{
  //   background-color: $dark_gray;
  //   padding-bottom: 20px;
  // }
}

.container-fluid{
  min-height: 100vh;
  padding: 0;
}

.content{
 min-width: 100%;
}

a{
  text-decoration: none;
  color: black;
}

h3:hover  a:hover{
  text-decoration: none;
}

li{
  list-style: none;
}

hr{
  width: 250px;
  height: 3px;
  background: $deep_blue;
  border: 0;
  margin-bottom: 50px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 0 15px 0;
}

@media (max-width:800px) {
  section{
    padding: 50px 20px;
    margin: 0;
  }
}
