// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main .hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15px;

  h1{
    padding-bottom: 15px;
    border-bottom: 1px solid red;
    font-family: 'Lato';
    margin-bottom: 15px;
  }
  .site-description{
    width: 75%;
    p{
      padding-bottom: 20px;
    }
  }
}


.underline{
  padding: 5px 10px;
  border-bottom: 2px solid $orange;
}
