.navbar{
  display: flex;
  justify-content:space-between;
  max-width:100%;
  padding: 15px 30px;
  background-color: rgb(173, 185, 191);
  padding-bottom: 20px;

  .nav-header{
    font-size: 24px;
    color: black;
  }

  .nav{
    display: flex;
    align-items: center;

    li{
      padding-right: 20px;
      list-style: none;
    }
  }
}
