@import url('https://fonts.googleapis.com/css?family=Mogra|Abril+Fatface');

#brandName{
  font-family: 'Abril Fatface';
  font-size:2em;
  color:#039BE5;
}

.nav-link, .dropdown-item{
  font-family: 'Lato';
  font-style:italic;
  font-weight:400;
}

.nav-item.paw{
  padding:8px 10px;
  color:#039BE5;
}

.user-area .nav-item a.nav-link{
  color:#039BE5;
  font-weight:600;
}

@media (max-width:765px){
  .paw{
    display:none;
  }
}
