.navbar{
  display: flex;
  justify-content:space-between;
  max-width:100%;
  padding: 15px 30px;
  background-color: rgb(173, 185, 191);
  padding-bottom: 20px;

  .nav-header{
    font-size: 24px;
    color: black;
  }

  .links{
    display: flex;
    align-items: center;
    justify-content: space-around;

    a{
      padding: 0 8px;
    }
  }

  .nav{
    display: flex;
    align-items: center;

    li{
      padding-right: 20px;
      list-style: none;
    }
  }
}

@media (max-width:800px) {
  .navbar{
    flex-direction: column;
    text-align: center;
    h3{
      padding-bottom: 10px;
    }
    .links{
      flex-direction: column;
    }
    .nav{
      flex-direction: column;
      li{
        padding-right: 0;
      }
    }
  }

}
