li{
  background-clip: content-box;
  background-position: center;
  background-size: cover;
}

.photobox{
  width:100vw;
  display: flex;
  box-sizing: border-box;

  .main{
    flex-basis: 50%;
    li{
      flex-basis: 100%;
      min-height: 500px;
      min-width: 500px;
    }
  }
  .small{
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;

    li{
      flex-basis: 50%;
      height: 250px;
      width: 250px;
    }
  }
}

@media (max-width:1000px){
  .photobox{
    flex-wrap: wrap;
    justify-content: center;
    .main{
      flex-basis: 50%;
      li{
        min-width:200px;
        min-height:200px;
        max-width: 200px;
        max-height: 200px;
      }
    }
    .small{
      flex-basis: 50;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      li{
      }
    }
  }
}
