li{
  background-clip: content-box;
  background-position: center;
  background-size: cover;
}

.photobox{
  display: flex;
  box-sizing: border-box;

  .main{
    flex-basis: 50%;
    li{
      flex-basis: 100%;
      min-height: 500px;
      min-width: 500px;
    }
  }
  .small{
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;

    li{
      flex-basis: 50%;
      height: 250px;
      width: 250px;
    }
  }
}

@media (max-width:1000px){
  .photobox{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .main{
      min-width:80%;
    }
  }
}

@media(max-width:800px){
  .photobox{
    display: none;
  }
}
