.pet-shots{
  display: flex;
  flex-direction:column;
  width: 100%;

  .records-list{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .shot-badge{
      border: 1px solid rgb(153, 132, 157);
      height:100px;
      width: 100px;
      border-radius: 50%;
      width: 15%;
      display: flex;
      flex-direction: column;
      justify-content:center;

      i{
        color: black;
      }

      .badge-heading{
        margin: 5px 5px 0 5px;
        font-size: 1.1em;
      }
    }
  }
}
